<h1>Create a New Reminder</h1>
<%= form_for @reminder do |f| %>
  <%= f.label :message %>
  <%= f.text_field :message %>

  <%= f.label :send_time %>
  <div class="datetimepicker-container">
    <%= f.text_field :send_time, class: "form-control", id: "datetime_field" %>
  </div>

  <%= f.submit "Save" %>
<% end %>