<h1>Create a New Reminder</h1>
<div class="row">
  <div class="col-md-8">
    <%= form_for @reminder do |f| %>
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_field :message, class: "form-control", placeholder: "Remind me to..." %>
      </div>
      
      <div class="datetimepicker-container">
        <%= f.label :send_time %>
        <%= f.text_field :send_time, class: "form-control", id: "datetime_field" %>
      </div>

      <%= f.submit "Save", class: "btn btn-success" %>
    <% end %>
  </div>
</div>